[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/athena/Desktop/arch-config]
row=0
col=0

[/home/athena/Desktop/res.sh]
row=0
col=1

[234487b2-ef3a-4c25-b26d-9dbaed7c2183]
row=2
col=0

[6e8b8eab-03c2-4a86-8318-fcd13929e63c]
row=1
col=1

[69e15092-9057-496c-bb7f-3ace380a4e06]
row=1
col=0

[/]
row=3
col=0

[/home/athena]
row=4
col=0

